</br>

<h1>Find someone to help you with <%= @course.title1 %></h1>

</br>

<div>
  Available Tutors:
</div>

<% @tutors.each do |id, tutor| %>
<% if tutor.avatar.url.present? %>

<%= image_tag(tutor.avatar.url, class: "profile-img-sm") %>

<% end %>
  <%= tutor.name %>
<% end %>

<% link_to 'Edit', edit_course_path(@course) %>
<% link_to 'Back', courses_path %>
