// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-tutor {
    padding: 10px;
    background-color: white;

    &:hover {
        background-color: rgb(250, 250, 250);
        cursor: pointer;
    }
    
    .info {
        display: flex;
        font-size: 80%;
        line-height: 15px;

        p {
            padding-left: 10px;
        }
    }

    %rating {
        font-size: 150%;
        color: #f1c40f;
    }

    .star-empty {
        @extend %rating;
    }

    .star-full {
        @extend %rating;
        text-shadow: 0 0 5px;
    }

    .rating {
        text-align: right;
    }

    .rating-desc {
        color: lightgray;
        font-size: 70%;
        line-height: 12px;
        margin-bottom: -17px; 
    }

    .price {
        font-size: 200%;
    }
}