$row-tutor-ht: 70px;
$off-white: rgb(249, 249, 249);
$top-buffer: 40px;

.navbar-brand {
    font-family: 'milkshake';
    color: rgb(165, 164, 204) !important;
    font-size: 160%;
    margin-top: -30px;
    margin-bottom: -30px;
}

nav {
    background-color: $off-white;
}

body {
    font-family: 'open-sans-light';
    background-color: #e3f2fd;
}

#top-buffer {
    height: $top-buffer;
}

.center-align {
    text-align: center;
}

.boxed {
    background-color: $off-white;
}

%img-circle {
    border-radius: 50%;
}

.profile-img-sm {
    @extend %img-circle;
    width: 70px;
    height: 70px;
}
.profile-img-lg {
    @extend %img-circle;
    width: 130px;
    height: 130px;
}