$row-tutor-ht: 70px;

$off-white: rgb(252, 252, 252);
$off-white-select: rgb(247, 247, 247);
$green: lightgreen;
$green-border: rgb(124, 218, 124);
$red: rgb(255, 134, 134);
$red-border: #e87676;
$light-gray: hsl(223, 12%, 89%);

$top-buffer: 40px;
$navbar-height: 30px;

$body-color: #e3f2fd;

$font-color: rgb(79, 79, 79);