$row-tutor-ht: 70px;
$off-white: rgb(252, 252, 252);
$off-white-select: rgb(247, 247, 247);
$light-gray: hsl(223, 12%, 89%);
$top-buffer: 40px;
$navbar-height: 30px;
$body-color: #e3f2fd;

$font-color: rgb(79, 79, 79);