</br>

<h1>Choose a course from <%= @university.name %></h1>

</br>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Subject</th>
        </tr>
    </thead>

    <tbody>
        <% @courses.each do |course| %>
            <tr class="row-uni" data-link="<%= course_path(course) %>">
                <td><%= course.title1 %></td>
                <td><%= course.subject %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<script>
    $("tr[data-link]").click(function() {
        window.location = $(this).data("link")
    })
</script>

<% link_to 'Edit', edit_university_path(@university) %>
<% link_to 'Back', universities_path %>
